html, body {
	overflow: hidden;
}

#game {
	height: 400px;
	width: 800px;
	position: absolute;
	background-image: url("../images/rippled_earth_light.jpg");
}

.sprite {
	position: absolute;
}

.sprite.player {
	border-radius: 64px;
	box-shadow: 0px 0px 8px #0000ff;
}
