html, body {
	overflow: hidden;
}

#game {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-image: url("../images/rippled_earth_light.jpg");
}

.sprite {
	position: absolute;
}

.sprite.player {
	border-radius: 64px;
	box-shadow: 0px 0px 8px #0000ff;
}
