html, body {
	overflow: hidden;
}

#game {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-image: url("../images/rippled_earth_light.jpg");
}

.sprite {
	position: absolute;
}

.sprite.player {
	-moz-border-radius: 64px;
	-webkit-border-radius: 64px;
	border-radius: 64px;

	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 255, .7);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 255, .7);
	box-shadow: 0px 0px 15px rgba(0, 0, 255, .7);
}
