@CHARSET "UTF-8";

#controls button.airdragon {
	background: url("../airdragon/e00.png");
	background-size: 64px 64px;
	background-repeat: no-repeat;
	padding-left: 64px;
}

.sprite.airdragon {
	height: 128px;
	width: 128px;
}

.sprite.airdragon.s_00 {background-image: url("../airdragon/s00.png")}
.sprite.airdragon.s_01 {background-image: url("../airdragon/s01.png")}
.sprite.airdragon.s_02 {background-image: url("../airdragon/s02.png")}
.sprite.airdragon.s_03 {background-image: url("../airdragon/s03.png")}
.sprite.airdragon.s_04 {background-image: url("../airdragon/s04.png")}
.sprite.airdragon.s_05 {background-image: url("../airdragon/s05.png")}
.sprite.airdragon.s_06 {background-image: url("../airdragon/s06.png")}
.sprite.airdragon.s_07 {background-image: url("../airdragon/s07.png")}
.sprite.airdragon.s_08 {background-image: url("../airdragon/s08.png")}
.sprite.airdragon.s_09 {background-image: url("../airdragon/s09.png")}
.sprite.airdragon.s_10 {background-image: url("../airdragon/s10.png")}
.sprite.airdragon.s_11 {background-image: url("../airdragon/s11.png")}
.sprite.airdragon.s_12 {background-image: url("../airdragon/s12.png")}
.sprite.airdragon.s_13 {background-image: url("../airdragon/s13.png")}
.sprite.airdragon.s_14 {background-image: url("../airdragon/s14.png")}
.sprite.airdragon.s_15 {background-image: url("../airdragon/s15.png")}

.sprite.airdragon.n_00 {background-image: url("../airdragon/n00.png")}
.sprite.airdragon.n_01 {background-image: url("../airdragon/n01.png")}
.sprite.airdragon.n_02 {background-image: url("../airdragon/n02.png")}
.sprite.airdragon.n_03 {background-image: url("../airdragon/n03.png")}
.sprite.airdragon.n_04 {background-image: url("../airdragon/n04.png")}
.sprite.airdragon.n_05 {background-image: url("../airdragon/n05.png")}
.sprite.airdragon.n_06 {background-image: url("../airdragon/n06.png")}
.sprite.airdragon.n_07 {background-image: url("../airdragon/n07.png")}
.sprite.airdragon.n_08 {background-image: url("../airdragon/n08.png")}
.sprite.airdragon.n_09 {background-image: url("../airdragon/n09.png")}
.sprite.airdragon.n_10 {background-image: url("../airdragon/n10.png")}
.sprite.airdragon.n_11 {background-image: url("../airdragon/n11.png")}
.sprite.airdragon.n_12 {background-image: url("../airdragon/n12.png")}
.sprite.airdragon.n_13 {background-image: url("../airdragon/n13.png")}
.sprite.airdragon.n_14 {background-image: url("../airdragon/n14.png")}
.sprite.airdragon.n_15 {background-image: url("../airdragon/n15.png")}

.sprite.airdragon.e_00 {background-image: url("../airdragon/e00.png")}
.sprite.airdragon.e_01 {background-image: url("../airdragon/e01.png")}
.sprite.airdragon.e_02 {background-image: url("../airdragon/e02.png")}
.sprite.airdragon.e_03 {background-image: url("../airdragon/e03.png")}
.sprite.airdragon.e_04 {background-image: url("../airdragon/e04.png")}
.sprite.airdragon.e_05 {background-image: url("../airdragon/e05.png")}
.sprite.airdragon.e_06 {background-image: url("../airdragon/e06.png")}
.sprite.airdragon.e_07 {background-image: url("../airdragon/e07.png")}
.sprite.airdragon.e_08 {background-image: url("../airdragon/e08.png")}
.sprite.airdragon.e_09 {background-image: url("../airdragon/e09.png")}
.sprite.airdragon.e_10 {background-image: url("../airdragon/e10.png")}
.sprite.airdragon.e_11 {background-image: url("../airdragon/e11.png")}
.sprite.airdragon.e_12 {background-image: url("../airdragon/e12.png")}
.sprite.airdragon.e_13 {background-image: url("../airdragon/e13.png")}
.sprite.airdragon.e_14 {background-image: url("../airdragon/e14.png")}
.sprite.airdragon.e_15 {background-image: url("../airdragon/e15.png")}

.sprite.airdragon.w_00 {background-image: url("../airdragon/w00.png")}
.sprite.airdragon.w_01 {background-image: url("../airdragon/w01.png")}
.sprite.airdragon.w_02 {background-image: url("../airdragon/w02.png")}
.sprite.airdragon.w_03 {background-image: url("../airdragon/w03.png")}
.sprite.airdragon.w_04 {background-image: url("../airdragon/w04.png")}
.sprite.airdragon.w_05 {background-image: url("../airdragon/w05.png")}
.sprite.airdragon.w_06 {background-image: url("../airdragon/w06.png")}
.sprite.airdragon.w_07 {background-image: url("../airdragon/w07.png")}
.sprite.airdragon.w_08 {background-image: url("../airdragon/w08.png")}
.sprite.airdragon.w_09 {background-image: url("../airdragon/w09.png")}
.sprite.airdragon.w_10 {background-image: url("../airdragon/w10.png")}
.sprite.airdragon.w_11 {background-image: url("../airdragon/w11.png")}
.sprite.airdragon.w_12 {background-image: url("../airdragon/w12.png")}
.sprite.airdragon.w_13 {background-image: url("../airdragon/w13.png")}
.sprite.airdragon.w_14 {background-image: url("../airdragon/w14.png")}
.sprite.airdragon.w_15 {background-image: url("../airdragon/w15.png")}

.sprite.airdragon.sw_00 {background-image: url("../airdragon/sw00.png")}
.sprite.airdragon.sw_01 {background-image: url("../airdragon/sw01.png")}
.sprite.airdragon.sw_02 {background-image: url("../airdragon/sw02.png")}
.sprite.airdragon.sw_03 {background-image: url("../airdragon/sw03.png")}
.sprite.airdragon.sw_04 {background-image: url("../airdragon/sw04.png")}
.sprite.airdragon.sw_05 {background-image: url("../airdragon/sw05.png")}
.sprite.airdragon.sw_06 {background-image: url("../airdragon/sw06.png")}
.sprite.airdragon.sw_07 {background-image: url("../airdragon/sw07.png")}
.sprite.airdragon.sw_08 {background-image: url("../airdragon/sw08.png")}
.sprite.airdragon.sw_09 {background-image: url("../airdragon/sw09.png")}
.sprite.airdragon.sw_10 {background-image: url("../airdragon/sw10.png")}
.sprite.airdragon.sw_11 {background-image: url("../airdragon/sw11.png")}
.sprite.airdragon.sw_12 {background-image: url("../airdragon/sw12.png")}
.sprite.airdragon.sw_13 {background-image: url("../airdragon/sw13.png")}
.sprite.airdragon.sw_14 {background-image: url("../airdragon/sw14.png")}
.sprite.airdragon.sw_15 {background-image: url("../airdragon/sw15.png")}

.sprite.airdragon.nw_00 {background-image: url("../airdragon/nw00.png")}
.sprite.airdragon.nw_01 {background-image: url("../airdragon/nw01.png")}
.sprite.airdragon.nw_02 {background-image: url("../airdragon/nw02.png")}
.sprite.airdragon.nw_03 {background-image: url("../airdragon/nw03.png")}
.sprite.airdragon.nw_04 {background-image: url("../airdragon/nw04.png")}
.sprite.airdragon.nw_05 {background-image: url("../airdragon/nw05.png")}
.sprite.airdragon.nw_06 {background-image: url("../airdragon/nw06.png")}
.sprite.airdragon.nw_07 {background-image: url("../airdragon/nw07.png")}
.sprite.airdragon.nw_08 {background-image: url("../airdragon/nw08.png")}
.sprite.airdragon.nw_09 {background-image: url("../airdragon/nw09.png")}
.sprite.airdragon.nw_10 {background-image: url("../airdragon/nw10.png")}
.sprite.airdragon.nw_11 {background-image: url("../airdragon/nw11.png")}
.sprite.airdragon.nw_12 {background-image: url("../airdragon/nw12.png")}
.sprite.airdragon.nw_13 {background-image: url("../airdragon/nw13.png")}
.sprite.airdragon.nw_14 {background-image: url("../airdragon/nw14.png")}
.sprite.airdragon.nw_15 {background-image: url("../airdragon/nw15.png")}

.sprite.airdragon.se_00 {background-image: url("../airdragon/se00.png")}
.sprite.airdragon.se_01 {background-image: url("../airdragon/se01.png")}
.sprite.airdragon.se_02 {background-image: url("../airdragon/se02.png")}
.sprite.airdragon.se_03 {background-image: url("../airdragon/se03.png")}
.sprite.airdragon.se_04 {background-image: url("../airdragon/se04.png")}
.sprite.airdragon.se_05 {background-image: url("../airdragon/se05.png")}
.sprite.airdragon.se_06 {background-image: url("../airdragon/se06.png")}
.sprite.airdragon.se_07 {background-image: url("../airdragon/se07.png")}
.sprite.airdragon.se_08 {background-image: url("../airdragon/se08.png")}
.sprite.airdragon.se_09 {background-image: url("../airdragon/se09.png")}
.sprite.airdragon.se_10 {background-image: url("../airdragon/se10.png")}
.sprite.airdragon.se_11 {background-image: url("../airdragon/se11.png")}
.sprite.airdragon.se_12 {background-image: url("../airdragon/se12.png")}
.sprite.airdragon.se_13 {background-image: url("../airdragon/se13.png")}
.sprite.airdragon.se_14 {background-image: url("../airdragon/se14.png")}
.sprite.airdragon.se_15 {background-image: url("../airdragon/se15.png")}

.sprite.airdragon.ne_00 {background-image: url("../airdragon/ne00.png")}
.sprite.airdragon.ne_01 {background-image: url("../airdragon/ne01.png")}
.sprite.airdragon.ne_02 {background-image: url("../airdragon/ne02.png")}
.sprite.airdragon.ne_03 {background-image: url("../airdragon/ne03.png")}
.sprite.airdragon.ne_04 {background-image: url("../airdragon/ne04.png")}
.sprite.airdragon.ne_05 {background-image: url("../airdragon/ne05.png")}
.sprite.airdragon.ne_06 {background-image: url("../airdragon/ne06.png")}
.sprite.airdragon.ne_07 {background-image: url("../airdragon/ne07.png")}
.sprite.airdragon.ne_08 {background-image: url("../airdragon/ne08.png")}
.sprite.airdragon.ne_09 {background-image: url("../airdragon/ne09.png")}
.sprite.airdragon.ne_10 {background-image: url("../airdragon/ne10.png")}
.sprite.airdragon.ne_11 {background-image: url("../airdragon/ne11.png")}
.sprite.airdragon.ne_12 {background-image: url("../airdragon/ne12.png")}
.sprite.airdragon.ne_13 {background-image: url("../airdragon/ne13.png")}
.sprite.airdragon.ne_14 {background-image: url("../airdragon/ne14.png")}
.sprite.airdragon.ne_15 {background-image: url("../airdragon/ne15.png")}
